<IfModule mod_rewrite.c>
    RewriteEngine On

    # 1. Jika browser mencari file (CSS/JS/Gambar) dan ada di folder public, ambilkan dari sana!
    RewriteCond %{DOCUMENT_ROOT}/public/$1 -f
    RewriteRule ^(.*)$ public/$1 [L]

    # 2. Sisanya (Rute website), kirim ke index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
</IfModule>
